<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Camera_Integration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Camera_Integration.Properties.Settings.cameraConnectionString" connectionString="server=localhost;user id=alcheman;password=Alchemanmysql1;database=camera" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Camera_Integration.Properties.Settings>
      <setting name="Camera1IP" serializeAs="String">
        <value>192.168.0.3</value>
      </setting>
      <setting name="Camera2IP" serializeAs="String">
        <value>192.168.0.3</value>
      </setting>
      <setting name="Camera1Port" serializeAs="String">
        <value>502</value>
      </setting>
      <setting name="Camera2Port" serializeAs="String">
        <value>502</value>
      </setting>
      <setting name="WorkOrder1" serializeAs="String">
        <value>12345</value>
      </setting>
      <setting name="WorkOrder2" serializeAs="String">
        <value>54321</value>
      </setting>
      <setting name="OilMaker1" serializeAs="String">
        <value>FEDERAL</value>
      </setting>
      <setting name="OileMaker2" serializeAs="String">
        <value>AHM</value>
      </setting>
      <setting name="MoxaIP" serializeAs="String">
        <value>192.168.0.254</value>
      </setting>
      <setting name="MoxaPort" serializeAs="String">
        <value>502</value>
      </setting>
      <setting name="TimeSend" serializeAs="String">
        <value>02/23/2022 09:00:00</value>
      </setting>
    </Camera_Integration.Properties.Settings>
  </userSettings>
</configuration>